@import 'color.css';

.outline
{
    margin: auto;
    align-items: center;
    width: 60vw;
    height: 50vh;
    border: 4px;
    border-color: var(--beforeBorder);
    background-color: var(--beforeBackground);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    color: #B3DA94;
    font-family: "PaytoneOne";
}

.pic
{
    margin-left: 50px;
    margin-right: 10px;
    position: relative;
}

.pic_mouseleave
{
    height: 20vw;
}

.upload_image
{
    width: 150px;
    margin-left: 150px;
}
.pic_mouseover
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20vw;
    display: none;
}

.checkbox
{
    margin-left: 50px;
    margin-right: 10px;
    height: 10vh;
}

.outline:hover
{
    border-radius: 4px;
    border-color: var(--afterBorder);
    background-color: var(--afterBackground);
}

.outline:hover .pic_mouseover
{
    display: block;
}