@import "./mainDesign.css";

/* Level */
.title_level {
    text-align: center;
    margin-bottom: 5vh;
    font-size: 4vh;
    font-size: 4vw;
    color: var(--beforeBorder);
    font-family: "PaytoneOne";
    word-break: break-all;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle {
    margin: auto;
    margin-top: 8vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.explanation {
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.set {
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 2vw;
}

.logo_level {
    margin-top: 10vh;
    margin-left: 85vw; /* 오른쪽으로 이동 */
    width: 12vw;
}

/* 변화 있는 부분 */
/* 페이지 전환 화살표 */
.arrow
{
    margin-left: 5vw;
    margin-right: 5vw;
    position: relative;
}

.arrow_mouseleave
{
    width: 5vw;
}

.arrow_mouseover
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 5vw;
    display: none;
}

.arrow:hover .arrow_mouseover
{
    display: block;
}

/* 가운데 블럭 */
.outline {
    margin: auto;
    align-items: center;
    width: 60vw;
    height: 50vh;
    border: 4px solid var(--beforeBorder);
    background-color: var(--beforeBackground);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    color: var(--beforeBorder);
    font-family: "PaytoneOne";
}

.pic
{
    margin-left: 50px;
    margin-right: 10px;
    position: relative;
}

.pic_mouseleave
{
    height: 20vw;
}

.pic_mouseover
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20vw;
    display: none;
}

.checkbox
{
    margin-left: 50px;
    margin-right: 10px;
    height: 10vh;
}

.outline:hover {
    border-radius: 30px;
    border-color: var(--afterBorder);
    background-color: var(--afterBackground);
}

.outline:hover .pic_mouseover
{
    display: block;
}


/* Interview */
/* 가운데 블럭 */
.outline_interview
{
    margin: auto;
    align-items: center;
    width: 20vw;
    height: 50vh;
    border: 4px solid var(--beforeBorder);
    background-color: var(--beforeBackground);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.outline_interview h3
{
    color: var(--beforeBorder);
    font-family: "PaytoneOne";
    font-size: 4vw;
    margin: auto;
    margin-top: 1vw;
    margin-bottom: 2vw;
}

.picInt
{
    position: relative;
    margin-bottom: 5vw;
}

.picInt_mouseleave
{
    height: 12vw;
}

.picInt_mouseover
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 12vw;
    display: none;
}

.outline_interview:hover {
    border-radius: 30px;
    border-color: var(--afterBorder);
    background-color: var(--afterBackground);
}

.outline_interview:hover .picInt_mouseover
{
    display: block;
}

/* upload */
.upload_image
{
    width: 150px;
    margin-left: 150px;
}