body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF3CB; /* 배경색 설정 */
}

.full-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.title {
    text-align: center;
    margin-bottom: 5vh;
    font-size: 4vh;
    font-size: 4vw;
    color: #B3DA94;
    word-break: break-all;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle {
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.explanation {
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.set {
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 2vw;
}

.logo {
    margin-top: 5vh;
    margin-left: 85vw; /* 오른쪽으로 이동 */
    width: 12vw;
}