.arrow
{
    margin-left: 5vw;
    margin-right: 5vw;
    position: relative;
}

.arrow_mouseleave
{
    width: 5vw;
}

.arrow_mouseover
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 5vw;
    display: none;
}

.arrow:hover .arrow_mouseover
{
    display: block;
}