.title
{
    margin: auto;
    font-size: 400%;
    color: #518FEB;
    margin-top: 80px;
    margin-bottom: 50px;
}

.middle
{
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.arrow
{
    margin-left: 100px;
    margin-right: 100px;
}

.outline
{
    margin: auto;
    align-items: center;
    width: 800px;
    height: 300px;
    border: 4px solid #518FEB;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
}

.pic
{
    width: 256px;
    height: 256px;
    margin-left: 50px;
    margin-right: 10px;
}

.explanation
{
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.set
{
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 150%;
}

.checkbox
{
    width: 48px;
    height: 42px;
    margin-right: 10px;
}

.logo
{
    margin-top: 80px;
    margin-left: 85%;
}