.main_loading
{
  margin: auto;
  align-items: center;
  flex-direction: column;
  font-family: "PaytoneOne";
}

.title_loading
{
  text-align: center;
  margin: 20vh auto 15vh;
  color: #B3DA94;
  font-size: 4vh;
  font-size: 4vw;
}

.loadingbar_container
{
  margin: auto;
  width: 60vw;
  height: 3vw;
  background-color: #FBF0C9;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.loadingbar
{
  height: 100%;
  width: 0;
  background-color: #B3DA94;
  border-radius: 10px;
  transition: width 0.3s ease;
}

.changed
{
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 1.5vw;
}

.logo_loading
{
  margin-top: 30vh;
  margin-left: 85vw; /* 오른쪽으로 이동 */
  width: 12vw;
}