/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

/* 색상 */
:root {
    --backgroundColor: #FFF3CB;
    --beforeBackground : #FFF7DD;
    --beforeBorder: #B3DA94;
    --afterBackground: #FFF6C5;
    --afterBorder: #EAE081;
}

/* 기본 배경 */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundColor); /* 배경색 설정 */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    font-family: "PaytoneOne";
}