body {
    margin: 0;
}

.title-text {
    position: absolute;
    top: 50%;
    /* 화면 세로 중앙에 위치하도록 top을 50%로 설정 */
    left: 50%;
    /* 화면 가로 중앙에 위치하도록 left을 50%로 설정 */
    transform: translate(-50%, -50%);
    /* 요소의 가로, 세로 중앙에 정렬 */

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #FBF0C9;
    /*메인 컬러-연노랑*/
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animation-text {
    font-family: 'Paytone One';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    color: #B3DA94;

    opacity: 1;
    position: relative;
    line-height: 1.5;
    /* 원하는 세로 간격을 설정합니다. */
    margin-bottom: 20px;
    /* 원하는 간격을 설정합니다. */
}

@keyframes fadeInOutStart {
    0% {
        opacity: 1;
        transform: translateY(-120px);
    }

    100% {
        opacity: 0;
        transform: translateY(0);
    }
}

@keyframes fadeInOutSpeech {
    0% {
        opacity: 1;
        transform: translateY(10px);
    }

    100% {
        opacity: 0;
        transform: translateY(0);
    }
}

@keyframes fadeInOutPitch {
    0% {
        opacity: 1;
        transform: translateY(120px);
    }

    100% {
        opacity: 0;
        transform: translateY(0);
    }
}

@keyframes fadeInUpSpitch {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.start {
    animation: fadeInOutStart 1s ease-in-out forwards;
    /* animation-delay: 1s; */
}

.speech {
    animation: fadeInOutSpeech 1s ease-in-out forwards;
    /* animation-delay: 2s; */
}

.pitch {
    animation: fadeInOutPitch 1s ease-in-out forwards;
    /* animation-delay: 3s; */
}

.spitch {
    opacity: 0;
    animation: fadeInUpSpitch 2s ease-in-out forwards;
    /* overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    top:50%; */
    
    animation-delay: 1s;

    position: absolute;
    top: 350px;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

/* before & after Login Page */
.mainlogo {
    opacity: 0;
    position: relative;
    margin: auto;
    width: 30vw;
    animation: fadeInUpSpitch 1s ease-in-out forwards;
}

.mainlogo2 {
    opacity: 0;
    position: relative;
    margin: auto;
    width: 30vw;
    animation: fadeInUpSpitch 1s ease-in-out forwards;

}

.bottom-text {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    color: #53826B;

    position: relative;
    top: 185px;
}

.bottom-text-line {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    color: #53826B;
    text-decoration: underline;

    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 185px;
    line-height: 2;
}