.app {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: #518feb;
    border-radius: 0 10px 10px 0;
  }
  
  .scores-container,
  .feedback-container {
    width: 45%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff; /* Set the background color for the right side */
  }
  
  .scores-container h2 {
    font-size: 24px;
    color: #000000; /* Set the text color for the heading */
  }
  
  .feedback-container h2 {
    font-size: 24px;
  }
  
  .feedback-item {
    margin-bottom: 15px;
  }
  
  .record-button {
    display: flex;
    align-items: center;
  }
  
  .record-button button {
    background-color: #518feb;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .record-button button svg {
    margin-right: 5px;
  }